<!--<div class="container">-->
<!--  <h2 class="heading">Create Campaign</h2>-->
<!--  <form [formGroup]="userForm" (ngSubmit)="submitForm()">-->

<!--    <div class="form-group">-->
<!--      <label for="userGroupId">User Group ID</label>-->
<!--      <input type="number" class="form-control" id="userGroupId" formControlName="userGroupId">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="notificationTypeId">Notification Type ID</label>-->
<!--      <input type="number" class="form-control" id="notificationTypeId" formControlName="notificationTypeId">-->
<!--    </div>-->

<!--    <div formGroupName="scheduleDTO">-->
<!--      <h3>Schedule</h3>-->

<!--      <div class="form-group">-->
<!--        <label for="name">Name</label>-->
<!--        <input type="text" class="form-control" id="name" formControlName="name">-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="scheduleDateTime">Schedule Date Time</label>-->
<!--        <input type="datetime-local" class="form-control" id="scheduleDateTime" formControlName="scheduleDateTime">-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="scheduleType">Schedule Type</label>-->
<!--        <input type="number" class="form-control" id="scheduleType" formControlName="scheduleType">-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="frequency">Frequency</label>-->
<!--        <input type="number" class="form-control" id="frequency" formControlName="frequency">-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="interval">Interval</label>-->
<!--        <input type="text" class="form-control" id="interval" formControlName="interval">-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="repeatEndDateTime">Repeat End Date Time</label>-->
<!--        <input type="datetime-local" class="form-control" id="repeatEndDateTime" formControlName="repeatEndDateTime">-->
<!--      </div>-->

<!--    </div>-->

<!--    <div formGroupName="templateDTO">-->
<!--      <h3>Template</h3>-->

<!--      <div class="form-group">-->
<!--        <label for="name">Name</label>-->
<!--        <input type="text" class="form-control" id="name" formControlName="name">-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="header">Header</label>-->
<!--        <input type="text" class="form-control" id="header" formControlName="header">-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="message">Message</label>-->
<!--        <input type="text" class="form-control" id="message" formControlName="message">-->
<!--      </div>-->

<!--    </div>-->



<!--    <div class="form-group">-->
<!--      <label for="notificationTypeID">Notification Type ID</label>-->
<!--      <input type="number" class="form-control" id="notificationTypeID" formControlName="notificationTypeID">-->
<!--    </div>-->

<!--    <button type="submit" (click)="submitForm()" ) class="btn btn-primary">Submit</button>-->
<!--  </form>-->
<!--</div>-->
